
 .wrapper{
    min-height: 100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../01_images/hotelgoBackground.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   
} 
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
form .lang-wrap{
    width: 789px;
}
form > .lang-wrap{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
.bo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 1px solid white;
    border-radius: 16px;
    padding: 30px;
    background-color: rgba(28,28,28,0.5);
    
}
.border-box{
    border: 1px solid black;
    background-color: silver;
    border-radius: 16px;
    padding : 10px ;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
}
#ID{
    width: 150px;
	height: 20px;
    align-items: center;
    margin-bottom: 15px;    
}
#PW{
    width: 150px;
	height: 20px;
    align-items: center;
    margin-bottom: 15px;    
}
.icon-size{
    height: 20px;
    width: 20px;
    padding-top: 15px;
    border: solid 1px var(--border-gray-color);
}
.loginBT{
    height: 30px;
    border-radius: 16px;
    width: 60px;
    background-color: rgba(28,28,28);
    color: silver;
}